*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Segoe UI;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: grey;
    background-image: url('../asstes/sky.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center ;

}

.app{
    /* backdrop-filter:blur(12px); */
    background:rgba(255,255,255,0.15);
    padding:30px;
    border-radius:15px;
    width:350px;
    text-align:center;
    color:white;
}

.search-box{
    margin:20px 0;
}

input{
    padding:10px;
    width:70%;
    border:none;
    border-radius:6px;
}

button{
    padding:10px;
    border:none;
    border-radius:6px;
    background:#fff;
    cursor:pointer;
}

.weather-card{
    margin-top:20px;
}

.weather-card img{
    width:80px;
}

.details{
    display:flex;
    justify-content:space-between;
    margin-top:10px;
}

.hidden{
    display:none;
}

#errorMsg{
    margin-top:10px;
    color:#ffdddd;
}